{% load static %}
{% get_static_prefix as STAT %}
<!DOCTYPE html>
<html lang="en">
<head>
method()
{alert('Thanks for leaving Feedback')}
<meta charset="UTF-8" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title>College you Deserve</title>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
<!-- Google fonts -->
<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>

<!-- font awesome -->
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<!-- bootstrap -->
<link rel="stylesheet" href="{{ STAT }}assets/bootstrap/css/bootstrap.min.css" />

<!-- animate.css -->
<link rel="stylesheet" href="{{ STAT }}assets/animate/animate.css" />
<link rel="stylesheet" href="{{ STAT }}assets/animate/set.css" />

<!-- gallery -->
<link rel="stylesheet" href="{{ STAT }}assets/gallery/blueimp-gallery.min.css">

<!-- favicon -->
<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
<link rel="icon" href="images/favicon.ico" type="image/x-icon">


<link rel="stylesheet" href="{{ STAT }}assets/style.css">

</head>

<body>
<div class="topbar animated fadeInLeftBig"></div>

<!-- Header Starts -->
<div class="navbar-wrapper">
      <div class="container">

        <div class="navbar navbar-default navbar-fixed-top" role="navigation" id="top-nav">
          <div class="container">
            <div class="navbar-header">
              <!-- Logo Starts -->
              <a class="navbar-brand" href="#home"><h4><strong><span style="color:cyan">Rank</span><span style="color:grey"> Analyzer</span></strong></h4></a>
              <!-- #Logo Ends -->
              <!--img src="{{ STAT }}images/logo.png" alt="logo"-->

              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>

            </div>


            <!-- Nav Starts -->
            <div class="navbar-collapse  collapse">
              <ul class="nav navbar-nav navbar-right scroll">
                 <li class="active"><a href="#works">Home</a></li>
                 <li ><a href="#about">About</a></li>
                 <li ><a href="#partners">Contact</a></li>
                 <li ><a href="#feedback">Feedback</a></li>
                 
              </ul>
            </div>
            <!-- #Nav Ends -->

          </div>
        </div>

      </div>
    </div>
<!-- #Header Starts -->







<!-- works -->
<div id="works"  class=" clearfix grid"> 
    <figure class="effect-oscar  wowload fadeIn">
        <img src="{{ STAT }}images/portfolio/1.jpg" alt="img01"/>
            <figcaption>
            <h2>BBA</h2>
            <p>Bachelor of Business Administration<br>
            <a href="/course">View more</a></p>  
            </figcaption>          
    </figure>
     <figure class="effect-oscar  wowload fadeInUp">
        <img src="{{ STAT }}images/portfolio/2.jpg" alt="img01"/>
        <figcaption>
            <h2>BCA</h2>
            <p>Bachelor of Computer Application<br>
            <a href="/course">View more</a></p>            
        </figcaption>
    </figure>
     <figure class="effect-oscar  wowload fadeInUp">
        <img src="{{ STAT }}images/portfolio/3.jpg" alt="img01"/>
        <figcaption>
            <h2>B.COM(H)</h2>
            <p>Bachelor of Commerce<br>
            <a href="/course">View more</a></p>              
        </figcaption>
    </figure>
  </div>
  <div id="works"  class=" clearfix grid"> 
    <figure class="effect-oscar  wowload fadeInUp">
        <img src="{{ STAT }}images/portfolio/4.jpg" alt="img01"/>
        <figcaption>
            <h2>MBA</h2>
            <p>Master of Bussiness Administration<br>
            <a href="/course">View more</a></p>             
        </figcaption>
    </figure>
     <figure class="effect-oscar  wowload fadeInUp">
        <img src="{{ STAT }}images/portfolio/5.jpg" alt="img01"/>
        <figcaption>
            <h2>MCA</h2>
            <p>Master of Computer Application<br>
            <a href="/course">View more</a></p>              
        </figcaption>
    </figure>
     
     <figure class="effect-oscar  wowload fadeInUp">
        <img src="{{ STAT }}images/portfolio/6.jpg" alt="img01"/>
        <figcaption>
            <h2>M.COM</h2>
            <p>Master of Commerce<br>
            <a href="/course">View more</a></p>             
        </figcaption>
    </figure>
   
    

     
</div>
<!-- works -->






<!-- Cirlce Starts -->
<div id="about"  class="container spacer about">
<h2 class="text-center wowload fadeInUp">Check the Colleges According to your CET rank!!</h2>  
  <div class="row">
  <div class="col-sm-6 wowload fadeInLeft">
    <h4><i class="fa fa-paint-brush"></i> What we do???</h4>
    <p>This site provides you the appropriate result according to your CET rank.Rank Analyzer site is build as a prototype for finding accurate possibility of colleges you can get at the rank you acquired from CET(Common Entrance Test).</p>
    

  </div>
  <div class="col-sm-6 wowload fadeInRight">
  <h4><i class="fa fa-code"></i> Other thing we show!!!</h4>
  <p>Not just we provide you the colleges according to your rank, but also the details of all the colleges i.e college fee,college placement record etc. You can find every thing about all the colleges in this site!. So long search for all the details of colleges and the  time wasting on these searches are reduced by this site! cause we values your time. </p>    
  </div>
  </div>

  <div class="process">
  <h3 class="text-center wowload fadeInUp">Our Motto</h3>
  <ul class="row text-center list-inline  wowload bounceInUp">
      <li>
            <span><i class="fa fa-search "></i><b>Fast Search</b></span>
        </li>
        <li>
            <span><i class="fa fa-trophy"></i><b>Accurate Result</b></span>
        </li>
        <li>
            <span><i class="fa fa-history"></i><b>Time Saving</b></span>
        </li>
    </ul>
  </div>
</div>
<!-- #Cirlce Ends -->



<!-- About Starts -->
<div class="highlight-info">
<div class="overlay spacer">
<div class="container">
<div class="row text-center  wowload fadeInDownBig">
  <div class="col-sm-3 col-xs-6">
  <i class="fa fa-smile-o  fa-5x"></i><h4>Happy to help</h4>
  </div>
  <div class="col-sm-3 col-xs-6">
  <i class="fa fa-rocket  fa-5x"></i><h4>Rocket Fast Result</h4>
  </div>
  <div class="col-sm-3 col-xs-6">
  <i class="fa fa-cloud-download  fa-5x"></i><h4>Institution Details are Here!</h4>
  </div>
  <div class="col-sm-3 col-xs-6">
  <i class="fa fa-clock-o  fa-5x"></i><h4>Time Saving!</h4>
  </div>
  </div>
</div>
</div>
</div>
<!-- About Ends -->







<div id="partners" class="container spacer ">
	<h2 class="text-center  wowload fadeInUp">You can contact us through!</h2>
  <div class="clearfix">
    <div class="col-sm-6 partners  wowload fadeInLeft">
         <img src="{{ STAT }}images/partners/1.jpg" alt="partners">
         <img src="{{ STAT }}images/partners/2.jpg" alt="partners">
         <img src="{{ STAT }}images/partners/3.jpg" alt="partners">
         <img src="{{ STAT }}images/partners/4.jpg" alt="partners">
    </div>
    <div class="col-sm-6">


    <div id="carousel-testimonials" class="carousel slide testimonails  wowload fadeInRight" data-ride="carousel">
    <div class="carousel-inner">  
      <div class="item active animated bounceInRight row">
      <div class="animated slideInLeft col-xs-2"><img alt="portfolio" src="{{ STAT }}images/team/1.jpg" width="100" class="img-circle img-responsive"></div>
      <div  class="col-xs-10">
      <p> I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. </p>      
      <span>Angel Smith - <b>eshop Canada</b></span>
      </div>
      </div>
      <div class="item  animated bounceInRight row">
      <div class="animated slideInLeft col-xs-2"><img alt="portfolio" src="{{ STAT }}images/team/2.jpg" width="100" class="img-circle img-responsive"></div>
      <div  class="col-xs-10">
      <p> Follow me on  </p> <a href="https://www.facebook.com/harsh.infamous"><i class="fa fa-facebook fa-2x"></i></a> and <a href=""><i class="fa fa-google-plus fa-2x"></i></a>


      <br><br><br><span>Harsh Pathania - <b>Facebook & Google Plus Profile</b></span>
      </div>
      </div>
      <div class="item  animated bounceInRight row">
      <div class="animated slideInLeft  col-xs-2"><img alt="portfolio" src="{{ STAT }}images/team/3.jpg" width="100" class=" img-responsive"></div>
      <div  class="col-xs-10">
      <p>My Institution</p><a href="http://www.jimsindia.org"><i class="fa fa-institution fa-2x"></i></a>
      <br><br><br><span>Jagan Institute of Managerial Studies- <b>Rohini Sec-5</b></span>
      </div>
      </div>
  </div>

   <!-- Indicators -->
   	<ol class="carousel-indicators">
    <li data-target="#carousel-testimonials" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-testimonials" data-slide-to="1"></li>
    <li data-target="#carousel-testimonials" data-slide-to="2"></li>
  	</ol>
  	<!-- Indicators -->
  </div>
    </div>
  </div>

</div>

<!--Contact Starts-->
<form method="POST" action='query'>{% csrf_token %}
<div id="feedback" class="spacer">

<div class="container contactform center">
<h2 class="text-center  wowload fadeInUp">Please Leave Feedback to Improve Our site!</h2>
  <div class="row wowload fadeInLeftBig">      
      <div class="col-sm-6 col-sm-offset-3 col-xs-12">      
        <input type="text" name="name" placeholder="Name" required>
        <input type="text" name="email" placeholder="Email" required>
        <textarea rows="5" name="feedback" placeholder="Feedback" required></textarea>
        <button class="btn btn-primary" href="/index" onclick="method()"><i class="fa fa-paper-plane"></i> Send</button>
      </div>
  </div>



</div>
</div>
</form>
<!--Contact Ends-->
<!-- Footer Starts -->
<div class="footer text-center spacer">
<p class="wowload flipInX"><a href="#"><i class="fa fa-facebook fa-2x"></i></a> <a href="#"><i class="fa fa-google-plus fa-2x"></i></a> <a href="#"><i class="fa fa-institution fa-2x"></i></a> <a href="#"><i class="fa fa-whatsapp fa-2x"></i></a> </p>
Copyright 2015, Jagan Institute of Managerial Studies. All rights reserved.
</div>
<!-- # Footer Ends -->
<a href="#works" class="gototop "><i class="fa fa-angle-up  fa-3x"></i></a>





<!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
    <!-- The container for the modal slides -->
    <div class="slides"></div>
    <!-- Controls for the borderless lightbox -->
    <h3 class="title">Title</h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <!-- The modal dialog, which will be used to wrap the lightbox content -->    
</div>



<!-- jquery -->
<script src="{{ STAT }}assets/jquery.js"></script>

<!-- wow script -->
<script src="{{ STAT }}assets/wow/wow.min.js"></script>


<!-- boostrap -->
<script src="{{ STAT }}assets/bootstrap/js/bootstrap.js" type="text/javascript" ></script>

<!-- jquery mobile -->
<script src="{{ STAT }}assets/mobile/touchSwipe.min.js"></script>
<script src="{{ STAT }}assets/respond/respond.js"></script>

<!-- gallery -->
<script src="{{ STAT }}assets/gallery/jquery.blueimp-gallery.min.js"></script>

<!-- custom script -->
<script src="{{ STAT }}assets/script.js"></script>

</body>
</html>